@model Initial.Models.ConferenceEditModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edit conference</h2>

<form asp-controller="Conferences" asp-action="Edit" method="post">
    <p>
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Name):
        @Html.EditorFor(m => m.Name)
    </p>

    <h2>Attendees</h2>
    
    @for (int i = 0; i < Model.Attendees.Count; i++)
{
    @Html.HiddenFor(m => m.Attendees[i].Id)
    <p>
        @Html.LabelFor(m => m.Attendees[i].FirstName):
        @Html.EditorFor(m => m.Attendees[i].FirstName)
    </p>
    <p>
        @Html.LabelFor(m => m.Attendees[i].LastName):
        @Html.EditorFor(m => m.Attendees[i].LastName)
    </p>
}

<button type="submit">Save</button>
<a asp-controller="Conferences" asp-action="Index">Back</a>
</form>